<table>
  <tr>
    <th>Name</th>
    <td><%= physician.name %></td>
  </tr>
  <tr>
    <th>Specialty</th>
    <td><%= physician.specialty %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= physician.email %>
  </td>
</table>
