<div id='physicians-index'>
<table>
  <tr>
    <th>Name</th>
    <td><%= physician.name %></td>
  </tr>
  <tr>
    <th>Specialty</th>
    <td><%= physician.specialty %></td>
  </tr>
  <% if current_page?(physician_path(physician)) %>
  <tr>
    <th>Email</th>
    <td><%= physician.email %></td>
  </tr>
  <% end %>
</table>
</div>
