<h1>All Physician in AppointmentMD </h1>

<% @physicians.each do |physician| %>

 <%= render :partial => "view", :locals => {:physician => physician} %>


<div id="physician-appointments-html-area"></div><br></br>

<% end %>
<%= link_to "View Only Surgeons", '/physicians/surgeons' %>
