<h1>Edit Patient Info</h1>

<%= form_for @patient do |f| %>

<%= render :partial => 'form', :locals => {:patient => @patient, :f => f} %>

<%= f.submit "Update Patient" %>
<% end %>

<%= link_to "Back", patient_path, class:"btn btn-primary btn-light" %>
