<h1>Appointments in AppointmentMD</h1>
<% if flash[:notice] %>
 <div class="notice"><% flash[:notice] %></div>
 <% end %>

<% if @current_physician %>
<%= link_to "Add a new appointment", new_physician_appointment_path(@current_physician) %>
<% end %>

<% @appointments.each do |a| %>

<%= render :partial => "view", :locals => {:a => a} %>

<% end %>

<% if !@appointments.any? %>
 <p>You currently don't have any appointments</p>
<% end %>
