<h1>Create a New Appointment</h1>

<%= form_for @appointment do |f| %>

<%= render :partial => 'form', :locals => { :appointment => @appointment, :f => f} %>
<div class="actions">
<%= f.button "Book Appointment" %>
</div>


<% end %>


<div id='AppointmentData'>
 <p id='appointmentPhysician'</p>
 <p id='appointmentPatient'</p>
 <p id='appointmentDate'</p>
 <p id='appointmentTime'</p>
</div>



<%= link_to "Back", appointments_path %>


<div id="appointment-results">
</div>
