<h1>Appointment</h1>

<%= render :partial => "view", :locals => { :a => @appointment} %>


<%= link_to "View All Appointments", appointments_path, class:"view-all-appointments" %>
<br>

<% if @current_physician %>
<%= link_to "Edit Appointment", edit_appointment_path(@appointment) %><br>
<% end %>
